@charset "UTF-8";

.dynamic {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.dynamic.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.dynamic.speedInLeft,
.dynamic.speedInRight,
.dynamic.speedOutLeft,
.dynamic.speedOutRight {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

.dynamic.jump,
.dynamic.spinXUp,
.dynamic.spinXDown,
.dynamic.spinYRight,
.dynamic.spinYLeft,
.dynamic.spinZIn,
.dynamic.spinZOut,
.dynamic.fallDownUp {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

.dynamic.fallDownIn,
.dynamic.fallDownOut,
.dynamic.fallDownLeft,
.dynamic.fallDownRight,
.dynamic.rollOutLeft,
.dynamic.rollOutRight,
.dynamic.rollUpDown,
.dynamic.rollUpLeft,
.dynamic.rollUpRight,
.dynamic.rollDownUp,
.dynamic.rollDownLeft,
.dynamic.rollDownRight {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.dynamic.windyX,
.dynamic.windyY {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}

.dynamic.hopIn,
.dynamic.hopInLeft,
.dynamic.hopInRight,
.dynamic.hopOut,
.dynamic.hopOutLeft,
.dynamic.hopOutRight {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

.dynamic.vaporize,
.dynamic.materialize,
.dynamic.roundSlideRight,
.dynamic.roundSlideLeft {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

.dynamic.blink,
.dynamic.starWars {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}