#div {
  top: 350px;
  color: white;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  background-color: #F00;
  border: solid 3px black;

  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-style: italic;
  font-size: 18px;
}

#div span {
  top: 35%;
  position: relative;
}