@charset "UTF-8";

.move {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.move.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes windyY {
  0% {
    -webkit-transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(-90deg);
  }

  25% {
    -webkit-transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(40deg);
  }
  
  50% {
    -webkit-transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(-40deg);
  }

  75% {
    -webkit-transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(20deg);
  }

  100% {
    -webkit-transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(0deg);
  }
}

.windyY {
  /*-webkit-animation-timing-function: cubic-bezier(.5, .3, .75, 1);
  animation-timing-function: cubic-bezier(.5, .3, .75, 1);*/
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-name: windyY;
  animation-name: windyY;
}