@charset "UTF-8";

.move {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.move.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#box {
    width: 200px;
    height: 200px;
    background: black;
    position: relative;
    -webkit-transition: all 300ms ease-in;
}
#box:hover {
    -webkit-transform: rotate(90deg) scale(0.8);
}
#box:after, #box:before {
    display: block;
    content: " ";
    color: transparent;
    width: 211px;
    height: 45px;
    background-color: inherit;
    position: absolute;
    left: 1px;
    bottom: -20px;
    -webkit-transform: rotate(-12deg);
}
#box:before {
    bottom: auto;
    top: -20px;
    -webkit-transform: rotate(12deg);
}

http://jsfiddle.net/rudiedirkx/349x9/