@charset "UTF-8";

.dynamic {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.dynamic.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
