@-webkit-keyframes rollInRight {
  from {
    -webkit-transform: translate3d(-200%, 0, 0) rotate(-180deg);
    transform: translate3d(-200%, 0, 0) rotate(-180deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
    transform: translate3d(0, 0, 0) rotate(360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes rollInRight {
  from {
    -webkit-transform: translate3d(-200%, 0, 0) rotate(-180deg);
    transform: translate3d(-200%, 0, 0) rotate(-180deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
    transform: translate3d(0, 0, 0) rotate(360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.rollInRight {
  -webkit-animation-name: rollInRight;
  animation-name: rollInRight;
}

@-webkit-keyframes rollInLeft {
  from {
    -webkit-transform: translate3d(200%, 0, 0) rotate(180deg);
    transform: translate3d(200%, 0, 0) rotate(180deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0) rotate(-360deg);
    transform: translate3d(0, 0, 0) rotate(-360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes rollInLeft {
  from {
    -webkit-transform: translate3d(200%, 0, 0) rotate(180deg);
    transform: translate3d(200%, 0, 0) rotate(180deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0) rotate(-360deg);
    transform: translate3d(0, 0, 0) rotate(-360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.rollInLeft {
  -webkit-animation-name: rollInLeft;
  animation-name: rollInLeft;
}