/*
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
*/

@-webkit-keyframes rollDownUp {
  from {
    -webkit-transform: translate3d(0, -200%, 0) rotate3d(0, 1, 0, -180deg);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
    opacity: 1;
  }
}

@keyframes rollDownUp {
  from {
    transform: translate3d(0, -200%, 0) rotate3d(0, 1, 0, -180deg);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);    
    opacity: 1;
  }
}

.rollDownUp {
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: rollDownUp;
  animation-name: rollDownUp;
}

@-webkit-keyframes rollDownLeft {
  from {
    -webkit-transform: translate3d(0, -200%, 0) rotate3d(0, 1, 0, -180deg);
    opacity: 0;
  }

  25% {
    -webkit-transform: translate3d(-66%, -167%, 0) rotate3d(.1, .75, 0, -135deg);
  }

  50% {
    -webkit-transform: translate3d(-100%, -100%, 0) rotate3d(.1, .75, 0, -90deg);
  }

  75% {
    -webkit-transform: translate3d(-66%, -33%, 0) rotate3d(.1, .75, 0, -45deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
    opacity: 1;
  }
}

@keyframes rollDownLeft {
  from {
    transform: translate3d(0, -200%, 0) rotate3d(0, 1, 0, -180deg);
    opacity: 0;
  }

  25% {
    transform: translate3d(-66%, -167%, 0) rotate3d(.1, .75, 0, -135deg);
  }

  50% {
    transform: translate3d(-100%, -100%, 0) rotate3d(.1, .75, 0, -90deg);
  }

  75% {
    transform: translate3d(-66%, -33%, 0) rotate3d(.1, .75, 0, -45deg);
  }

  to {
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
    opacity: 1;
  }
}

.rollDownLeft {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: rollDownLeft;
  animation-name: rollDownLeft;
}

@-webkit-keyframes rollDownRight {
  from {
    -webkit-transform: translate3d(0, -200%, 0) rotate3d(0, 1, 0, -180deg);
    opacity: 0;
  }

  25% {
    -webkit-transform: translate3d(66%, -167%, 0) rotate3d(-0.1, .75, 0, -135deg);
  }

  50% {
    -webkit-transform: translate3d(100%, -100%, 0) rotate3d(-0.1, .75, 0, -90deg);
  }

  75% {
    -webkit-transform: translate3d(66%, -33%, 0) rotate3d(-0.1, .75, 0, -45deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
    opacity: 1;
  }
}

@keyframes rollDownRight {
  from {
    transform: translate3d(0, -200%, 0) rotate3d(0, 1, 0, -180deg);
    opacity: 0;
  }

  25% {
    transform: translate3d(66%, -167%, 0) rotate3d(-0.1, .75, 0, -135deg);
  }

  50% {
    transform: translate3d(100%, -100%, 0) rotate3d(-0.1, .75, 0, -90deg);
  }

  75% {
    transform: translate3d(66%, -33%, 0) rotate3d(-0.1, .75, 0, -45deg);
  }

  to {
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
    opacity: 1;
  }
}

.rollDownRight {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: rollDownRight;
  animation-name: rollDownRight;
}