@keyframes stairsOut {
  from, 25%, 50%, 76%, 99%, to {
    transform-origin: 50% 100%;
  }

  51%, 75% {
    transform-origin: 50% 0%;
  }

  from {
    transform: translateY(0) perspective(400px) scale3d(1, 1, 1) rotateX(720deg);
  }

  25% {
    transform: translateY(0) perspective(400px) scale3d(1, 1, 1) rotateX(720deg);
    opacity: 1;
  }

  50% {
    transform: translateY(0) perspective(400px) scale3d(1.2, 1.2, 1.2) rotateX(540deg);
  }

  51% {
    transform: translateY(220%) perspective(400px) scale3d(1.2, 1.2, 1.2) rotateX(540deg);
  }

  75% {
    transform: translateY(220%) perspective(400px) scale3d(1.4, 1.4, 1.4) rotateX(360deg);
  }

  76% {
    transform: translateY(260%) perspective(400px) scale3d(1.4, 1.4, 1.4) rotateX(360deg);
  }

  99% {
    transform: translateY(280%) perspective(400px) scale3d(1.55, 1.55, 1.55) rotateX(187deg);
    opacity: .1;
  }

  to {
    transform: translateY(280%) perspective(400px) scale3d(1.6, 1.6, 1.6) rotateX(180deg);
    opacity: 0;
  }
}

@-webkit-keyframes stairsOut {
  from, 25%, 50%, 76%, 99%, to {
    -webkit-transform-origin: 50% 100%;
  }

  51%, 75% {
    -webkit-transform-origin: 50% 0%;
  }

  from {
    -webkit-transform: translateY(0) perspective(400px) scale3d(1, 1, 1) rotateX(720deg);
  }

  25% {
    -webkit-transform: translateY(0) perspective(400px) scale3d(1, 1, 1) rotateX(720deg);
    opacity: 1;
  }

  50% {
    -webkit-transform: translateY(0) perspective(400px) scale3d(1.2, 1.2, 1.2) rotateX(540deg);
  }

  51% {
    -webkit-transform: translateY(220%) perspective(400px) scale3d(1.2, 1.2, 1.2) rotateX(540deg);
  }

  75% {
    -webkit-transform: translateY(220%) perspective(400px) scale3d(1.4, 1.4, 1.4) rotateX(360deg);
  }

  76% {
    -webkit-transform: translateY(260%) perspective(400px) scale3d(1.4, 1.4, 1.4) rotateX(360deg);
  }

  99% {
    -webkit-transform: translateY(280%) perspective(400px) scale3d(1.55, 1.55, 1.55) rotateX(187deg);
    opacity: .1;
  }

  to {
    -webkit-transform: translateY(280%) perspective(400px) scale3d(1.6, 1.6, 1.6) rotateX(180deg);
    opacity: 0;
  }
}

.stairsOut {
  -webkit-animation-timing-function: cubic-bezier(.63, 0, 1, 1);
  animation-timing-function: cubic-bezier(.63, 0, 1, 1);
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: stairsOut;
  animation-name: stairsOut;
}

@keyframes stairsOutLeft {
  from {
    transform: none;
    opacity: 1;
  }

  25% {
    transform: translate3d(-100%, 100%, 0) rotate(-90deg);
  }

  50% {
    transform: translate3d(-200%, 200%, 0) rotate(-180deg);
  }

  75% {
    transform: translate3d(-300%, 300%, 0) rotate(-270deg);
    opacity: .1;
  }

  to {
    transform: translate3d(-300%, 300%, 0) rotate(-270deg);
    opacity: 0;
  }
}

@-webkit-keyframes stairsOutLeft {
  from {
    -webkit-transform: none;
    opacity: 1;
  }

  25% {
    -webkit-transform: translate3d(-100%, 100%, 0) rotate(-90deg);
  }

  50% {
    -webkit-transform: translate3d(-200%, 200%, 0) rotate(-180deg);
  }

  75% {
    -webkit-transform: translate3d(-300%, 300%, 0) rotate(-270deg);
    opacity: .1;
  }

  to {
    -webkit-transform: translate3d(-300%, 300%, 0) rotate(-270deg);
    opacity: 0;
  }
}

.stairsOutLeft {
  -webkit-animation-timing-function: cubic-bezier(.63, 0, 1, 1);
  animation-timing-function: cubic-bezier(.63, 0, 1, 1);
  -webkit-animation-name: stairsOutLeft;
  animation-name: stairsOutLeft;
}

@keyframes stairsOutRight {
  from {
    transform: none;
    opacity: 1;
  }

  25% {
    transform: translate3d(100%, 100%, 0) rotate(90deg);
  }

  50% {
    transform: translate3d(200%, 200%, 0) rotate(180deg);
  }

  75% {
    transform: translate3d(300%, 300%, 0) rotate(270deg);
    opacity: .1;
  }

  to {
    transform: translate3d(300%, 300%, 0) rotate(270deg);
    opacity: 0;
  }
}

@-webkit-keyframes stairsOutRight {
  from {
    -webkit-transform: none;
    opacity: 1;
  }

  25% {
    -webkit-transform: translate3d(100%, 100%, 0) rotate(90deg);
  }

  50% {
    -webkit-transform: translate3d(200%, 200%, 0) rotate(180deg);
  }

  75% {
    -webkit-transform: translate3d(300%, 300%, 0) rotate(270deg);
    opacity: .1;
  }

  to {
    -webkit-transform: translate3d(300%, 300%, 0) rotate(270deg);
    opacity: 0;
  }
}

.stairsOutRight {
  -webkit-animation-timing-function: cubic-bezier(.63, 0, 1, 1);
  animation-timing-function: cubic-bezier(.63, 0, 1, 1);
  -webkit-animation-name: stairsOutRight;
  animation-name: stairsOutRight;
}