/*
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
*/

@-webkit-keyframes roundOutRight {
  from {
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(0deg);
    -webkit-animation-timing-function: ease-in;
  }

  15% {
    -webkit-transform-origin: -50% 50%;
    -webkit-transform: translate3d(0%, 150%, 0) rotate(90deg);
    -webkit-animation-timing-function: ease-in;
  }

  50% {
    -webkit-transform-origin: -50% 50%;
    -webkit-transform: translate3d(-100%, -50%, 0) rotate(180deg);
    -webkit-animation-timing-function: linear;
  }

  75% {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: translate3d(100%, -50%, 0) rotate(450deg);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }

  to {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: translate3d(100%, 100%, 0) rotate(450deg);
    -webkit-animation-timing-function: ease-out;
    opacity: 0;
  }
}

@keyframes roundOutRight {
  from {
    transform-origin: 0 0;
    transform: rotate(0deg);
    animation-timing-function: ease-in;
  }

  15% {
    transform-origin: -50% 50%;
    transform: translate3d(0%, 150%, 0) rotate(90deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform-origin: -50% 50%;
    transform: translate3d(-100%, -50%, 0) rotate(180deg);
    animation-timing-function: linear;
  }

  75% {
    transform-origin: 50% 100%;
    transform: translate3d(100%, -50%, 0) rotate(450deg);
    animation-timing-function: ease-out;
    opacity: 1;
  }

  to {
    transform-origin: 50% 100%;
    transform: translate3d(100%, 100%, 0) rotate(450deg);
    animation-timing-function: ease-out;
    opacity: 0;
  }
}

.roundOutRight {
  -webkit-animation-name: roundOutRight;
  animation-name: roundOutRight;
}