@-webkit-keyframes windyX {
  from {
    -webkit-transform-origin: 50% 0;
    -webkit-transform: rotate(0deg);
  }

  25% {
    -webkit-transform-origin: 50% 0;
    -webkit-transform: rotate(-45deg);
  }

  62% {
    -webkit-transform-origin: 50% 0;
    -webkit-transform: rotate(30deg);
  }

  83% {
    -webkit-transform-origin: 50% 0;
    -webkit-transform: rotate(-15deg);
  }

  95% {
    -webkit-transform-origin: 50% 0;
    -webkit-transform: rotate(5deg);
  }

  to {
    -webkit-transform-origin: 50% 0;
    -webkit-transform: rotate(0deg);
  }
}

@keyframes windyX {
  from {
    transform-origin: 50% 0;
    transform: rotate(0deg);
  }

  25% {
    transform-origin: 50% 0;
    transform: rotate(-45deg);
  }

  62% {
    transform-origin: 50% 0;
    transform: rotate(30deg);
  }

  83% {
    transform-origin: 50% 0;
    transform: rotate(-15deg);
  }

  95% {
    transform-origin: 50% 0;
    transform: rotate(5deg);
  }

  to {
    transform-origin: 50% 0;
    transform: rotate(0deg);
  }
}

.windyX {
  -webkit-animation-timing-function: cubic-bezier(.5, .3, .75, 1);
  animation-timing-function: cubic-bezier(.5, .3, .75, 1);
  -webkit-animation-name: windyX;
  animation-name: windyX;
}

@-webkit-keyframes windyY {
  from {
    -webkit-transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(0deg);
  }

  20% {
    -webkit-transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(-60deg);
  }

  55% {
    -webkit-transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(45deg);
  }
  
  80% {
    -webkit-transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(-30deg);
  }

  95% {
    -webkit-transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(15deg);
  }

  98% {
    -webkit-transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(-5deg);
  }

  to {
    -webkit-transform-origin: 50% 0%;
    -webkit-transform: perspective(800px) rotateX(0deg);
  }
}

@keyframes windyY {
  from {
    transform-origin: 50% 0%;
    transform: perspective(800px) rotateX(0deg);
  }

  20% {
    transform-origin: 50% 0%;
    transform: perspective(800px) rotateX(-60deg);
  }

  55% {
    transform-origin: 50% 0%;
    transform: perspective(800px) rotateX(45deg);
  }
  
  80% {
    transform-origin: 50% 0%;
    transform: perspective(800px) rotateX(-30deg);
  }

  95% {
    transform-origin: 50% 0%;
    transform: perspective(800px) rotateX(15deg);
  }

  98% {
    transform-origin: 50% 0%;
    transform: perspective(800px) rotateX(-5deg);
  }

  to {
    transform-origin: 50% 0%;
    transform: perspective(800px) rotateX(0deg);
  }
}

.windyY {
  -webkit-animation-timing-function: cubic-bezier(.25, .1, .75, 1);
  animation-timing-function: cubic-bezier(.25, .1, .75, 1);
  -webkit-animation-name: windyY;
  animation-name: windyY;
}