@-webkit-keyframes roundOutRight {
  from {
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(0deg);
    -webkit-animation-timing-function: ease-in;
  }

  15% {
    -webkit-transform-origin: -50% 50%;
    -webkit-transform: translate3d(0%, 150%, 0) rotate(90deg);
    -webkit-animation-timing-function: ease-in;
  }

  50% {
    -webkit-transform-origin: -50% 50%;
    -webkit-transform: translate3d(-100%, -50%, 0) rotate(180deg);
    -webkit-animation-timing-function: linear;
  }

  75% {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: translate3d(150%, -50%, 0) rotate(450deg);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }

  to {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: translate3d(150%, 100%, 0) rotate(450deg);
    -webkit-animation-timing-function: ease-out;
    opacity: 0;
  }
}

@keyframes roundOutRight {
  from {
    transform-origin: 0 0;
    transform: rotate(0deg);
    animation-timing-function: ease-in;
  }

  15% {
    transform-origin: -50% 50%;
    transform: translate3d(0%, 150%, 0) rotate(90deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform-origin: -50% 50%;
    transform: translate3d(-100%, -50%, 0) rotate(180deg);
    animation-timing-function: linear;
  }

  75% {
    transform-origin: 50% 100%;
    transform: translate3d(150%, -50%, 0) rotate(450deg);
    animation-timing-function: ease-out;
    opacity: 1;
  }

  to {
    transform-origin: 50% 100%;
    transform: translate3d(150%, 100%, 0) rotate(450deg);
    animation-timing-function: ease-out;
    opacity: 0;
  }
}

.roundOutRight {
  -webkit-animation-name: roundOutRight;
  animation-name: roundOutRight;
}

@-webkit-keyframes roundOutLeft {
  from {
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(0deg);
    -webkit-animation-timing-function: ease-in;
  }

  15% {
    -webkit-transform-origin: 150% 50%;
    -webkit-transform: translate3d(0%, 150%, 0) rotate(-90deg);
    -webkit-animation-timing-function: ease-in;
  }

  50% {
    -webkit-transform-origin: 150% 50%;
    -webkit-transform: translate3d(100%, -50%, 0) rotate(-180deg);
    -webkit-animation-timing-function: linear;
  }

  75% {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: translate3d(-150%, -50%, 0) rotate(-450deg);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }

  to {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: translate3d(-150%, 100%, 0) rotate(-450deg);
    -webkit-animation-timing-function: ease-out;
    opacity: 0;
  }
}

@keyframes roundOutLeft {
  from {
    transform-origin: 0 0;
    transform: rotate(0deg);
    animation-timing-function: ease-in;
  }

  15% {
    transform-origin: 150% 50%;
    transform: translate3d(0%, 150%, 0) rotate(-90deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform-origin: 150% 50%;
    transform: translate3d(100%, -50%, 0) rotate(-180deg);
    animation-timing-function: linear;
  }

  75% {
    transform-origin: 50% 100%;
    transform: translate3d(-150%, -50%, 0) rotate(-450deg);
    animation-timing-function: ease-out;
    opacity: 1;
  }

  to {
    transform-origin: 50% 100%;
    transform: translate3d(-150%, 100%, 0) rotate(-450deg);
    animation-timing-function: ease-out;
    opacity: 0;
  }
}

.roundOutLeft {
  -webkit-animation-name: roundOutLeft;
  animation-name: roundOutLeft;
}

@-webkit-keyframes roundSlideRight {
  from {
    -webkit-transform: translate3d(0, -100%, 0) rotate3d(0, 1, 0, -180deg);
    opacity: 0;
  }

  8% {
    -webkit-transform: translate3d(-66%, -84%, 0) rotate3d(.1, .75, 0, -135deg);
  }

  18% {
    -webkit-transform: translate3d(-100%, -50%, 0) rotate3d(.1, .75, 0, -90deg);
  }

  30% {
    -webkit-transform: translate3d(-66%, -16%, 0) rotate3d(.1, .75, 0, -45deg);
    opacity: 1;
  }

  50% {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
  }

  70% {
    -webkit-transform: translate3d(66%, -16%, 0) rotate3d(-0.1, .75, 0, -45deg);
    opacity: 1;
  }

  82% {
    -webkit-transform: translate3d(100%, -50%, 0) rotate3d(-0.1, .75, 0, -90deg);
  }

  92% {
    -webkit-transform: translate3d(66%, -84%, 0) rotate3d(-0.1, .75, 0, -135deg);
  }

  to {
    -webkit-transform: translate3d(0, -100%, 0) rotate3d(0, 1, 0, -180deg);
    opacity: 0;
  }  
}

@keyframes roundSlideRight {
  from {
    transform: translate3d(0, -100%, 0) rotate3d(0, 1, 0, -180deg);
    opacity: 0;
  }

  8% {
    transform: translate3d(-66%, -84%, 0) rotate3d(.1, .75, 0, -135deg);
  }

  18% {
    transform: translate3d(-100%, -50%, 0) rotate3d(.1, .75, 0, -90deg);
  }

  30% {
    transform: translate3d(-66%, -16%, 0) rotate3d(.1, .75, 0, -45deg);
    opacity: 1;
  }

  50% {
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
  }

  70% {
    transform: translate3d(66%, -16%, 0) rotate3d(-0.1, .75, 0, -45deg);
    opacity: 1;
  }

  82% {
    transform: translate3d(100%, -50%, 0) rotate3d(-0.1, .75, 0, -90deg);
  }

  92% {
    transform: translate3d(66%, -84%, 0) rotate3d(-0.1, .75, 0, -135deg);
  }

  to {
    transform: translate3d(0, -100%, 0) rotate3d(0, 1, 0, -180deg);
    opacity: 0;
  }  
}

.roundSlideRight {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: roundSlideRight;
  animation-name: roundSlideRight;
}

@-webkit-keyframes roundSlideLeft {
  from {
    -webkit-transform: translate3d(0, -100%, 0) rotate3d(0, 1, 0, -180deg);
    opacity: 0;
  }

  8% {
    -webkit-transform: translate3d(66%, -84%, 0) rotate3d(-0.1, .75, 0, -135deg);
  }

  18% {
    -webkit-transform: translate3d(100%, -50%, 0) rotate3d(-0.1, .75, 0, -90deg);
  }

  30% {
    -webkit-transform: translate3d(66%, -16%, 0) rotate3d(-0.1, .75, 0, -45deg);
    opacity: 1;
  }

  50% {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
  }

  70% {
    -webkit-transform: translate3d(-66%, -16%, 0) rotate3d(.1, .75, 0, -45deg);
    opacity: 1;
  }

  82% {
    -webkit-transform: translate3d(-100%, -50%, 0) rotate3d(.1, .75, 0, -90deg);
  }

  92% {
    -webkit-transform: translate3d(-66%, -84%, 0) rotate3d(.1, .75, 0, -135deg);
  }

  to {
    -webkit-transform: translate3d(0, -100%, 0) rotate3d(0, 1, 0, -180deg);
    opacity: 0;
  }  
}

@keyframes roundSlideLeft {
  from {
    transform: translate3d(0, -100%, 0) rotate3d(0, 1, 0, -180deg);
    opacity: 0;
  }

  8% {
    transform: translate3d(66%, -84%, 0) rotate3d(-0.1, .75, 0, -135deg);
  }

  18% {
    transform: translate3d(100%, -50%, 0) rotate3d(-0.1, .75, 0, -90deg);
  }

  30% {
    transform: translate3d(66%, -16%, 0) rotate3d(-0.1, .75, 0, -45deg);
    opacity: 1;
  }

  50% {
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
  }

  70% {
    transform: translate3d(-66%, -16%, 0) rotate3d(.1, .75, 0, -45deg);
    opacity: 1;
  }

  82% {
    transform: translate3d(-100%, -50%, 0) rotate3d(.1, .75, 0, -90deg);
  }

  92% {
    transform: translate3d(-66%, -84%, 0) rotate3d(.1, .75, 0, -135deg);
  }

  to {
    transform: translate3d(0, -100%, 0) rotate3d(0, 1, 0, -180deg);
    opacity: 0;
  }  
}

.roundSlideLeft {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: roundSlideLeft;
  animation-name: roundSlideLeft;
}