@-webkit-keyframes materialize {
  from {
    opacity: 0;
    -webkit-filter: blur(3px);
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale3d(3, 3, 3);
  }

  to {
    -webkit-transform-origin: 50% 50%;
    -webkit-filter: blur(0px);
    -webkit-transform: none;
    opacity: 1;
  }
}

@keyframes materialize {
  from {
    opacity: 0;
    filter: blur(3px);
    transform-origin: 50% 50%;
    transform: scale3d(3, 3, 3);
  }

  to {
    transform-origin: 50% 50%;
    filter: blur(0px);
    transform: none;
    opacity: 1;
  }
}

.materialize {
  -webkit-animation-timing-function: cubic-bezier(.5, .25, .9, .25);
  animation-timing-function: cubic-bezier(.5, .25, .9, .25);
  -webkit-animation-name: materialize;
  animation-name: materialize;
}

@-webkit-keyframes vaporize {
  from {
    opacity: 1;
    -webkit-transform: none;
    -webkit-filter: blur(0px);
    -webkit-transform-origin: 50% 50%;
  }

  to {
    opacity: 0;
    -webkit-filter: blur(3px);
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale3d(3, 3, 3);
  }
}

@keyframes vaporize {
  from {
    opacity: 1;
    transform: none;
    filter: blur(0px);
    transform-origin: 50% 50%;
  }

  to {
    opacity: 0;
    filter: blur(3px);
    transform-origin: 50% 50%;
    transform: scale3d(3, 3, 3);
  }
}

.vaporize {
  -webkit-animation-timing-function: cubic-bezier(.5, .25, .9, .25);
  animation-timing-function: cubic-bezier(.5, .25, .9, .25);
  -webkit-animation-name: vaporize;
  animation-name: vaporize;
}