@-webkit-keyframes spinXUp {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -360deg);
  }

  25% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -180deg);
  }

  50% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
  }

  75% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
  }

  to {
    -webkit-transform: perspective(400px);
  }
}

@keyframes spinXUp {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, -360deg);
  }

  25% {
    transform: perspective(400px) rotate3d(1, 0, 0, -180deg);
  }

  50% {
    transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
  }

  75% {
    transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
  }

  to {
    transform: perspective(400px);
  }
}

.spinXUp {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: spinXUp;
  animation-name: spinXUp;
}

@-webkit-keyframes spinXDown {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 360deg);
  }

  25% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
  }

  50% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
  }

  75% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -180deg);
  }

  to {
    -webkit-transform: perspective(400px);
  }
}

@keyframes spinXDown {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 360deg);
  }

  25% {
    transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
  }

  50% {
    transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
  }

  75% {
    transform: perspective(400px) rotate3d(1, 0, 0, -180deg);
  }

  to {
    transform: perspective(400px);
  }
}

.spinXDown {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: spinXDown;
  animation-name: spinXDown;
}