@-webkit-keyframes fallDownUp {
  from {
    -webkit-transform: translateY(-200%) perspective(600px);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  to {
    -webkit-transform: translateY(0) perspective(600px) rotateX(0deg);
  }
}

@keyframes fallDownUp {
  from {
    transform: translateY(-200%) perspective(600px);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  to {
    transform: translateY(0) perspective(600px) rotateX(0deg);
  }
}

.fallDownUp {
  -webkit-animation-timing-function: cubic-bezier(.75, 0, 1, 1);
  animation-timing-function: cubic-bezier(.75, 0, 1, 1);
  -webkit-animation-name: fallDownUp;
  animation-name: fallDownUp;
}

@-webkit-keyframes fallDownIn {
  from {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: perspective(600px) rotateX(0deg);
  }

  60% {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: perspective(600px) rotateX(-15deg);
  }

  70% {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: perspective(600px) rotateX(-30deg);
  }

  80% {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: perspective(600px) rotateX(-45deg);
  }

  90% {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: perspective(600px) rotateX(-60deg);
  }

  to {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: perspective(600px) rotateX(-90deg);
  }
}

@keyframes fallDownIn {
  from {
    transform-origin: 50% 100%;
    transform: perspective(600px) rotateX(0deg);
  }

  60% {
    transform-origin: 50% 100%;
    transform: perspective(600px) rotateX(-15deg);
  }

  70% {
    transform-origin: 50% 100%;
    transform: perspective(600px) rotateX(-30deg);
  }

  80% {
    transform-origin: 50% 100%;
    transform: perspective(600px) rotateX(-45deg);
  }

  90% {
    transform-origin: 50% 100%;
    transform: perspective(600px) rotateX(-60deg);
  }

  to {
    transform-origin: 50% 100%;
    transform: perspective(600px) rotateX(-90deg);
  }
}

.fallDownIn {
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-name: fallDownIn;
  animation-name: fallDownIn;
}

@-webkit-keyframes fallDownOut {
  from {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: perspective(600px) rotateX(0deg);
  }

  60% {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: perspective(600px) rotateX(15deg);
  }

  70% {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: perspective(600px) rotateX(30deg);
  }

  80% {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: perspective(600px) rotateX(45deg);
  }

  90% {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: perspective(600px) rotateX(60deg);
  }

  to {
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: perspective(600px) rotateX(90deg);
  }
}

@keyframes fallDownOut {
  from {
    transform-origin: 50% 100%;
    transform: perspective(600px) rotateX(0deg);
  }

  60% {
    transform-origin: 50% 100%;
    transform: perspective(600px) rotateX(15deg);
  }

  70% {
    transform-origin: 50% 100%;
    transform: perspective(600px) rotateX(30deg);
  }

  80% {
    transform-origin: 50% 100%;
    transform: perspective(600px) rotateX(45deg);
  }

  90% {
    transform-origin: 50% 100%;
    transform: perspective(600px) rotateX(60deg);
  }

  to {
    transform-origin: 50% 100%;
    transform: perspective(600px) rotateX(90deg);
  }
}

.fallDownOut {
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-name: fallDownOut;
  animation-name: fallDownOut;
}

@-webkit-keyframes fallDownRight {
  from {
    -webkit-transform: translate(-50%, -200%) rotateZ(-45deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: translate(-50%, -30%) rotateZ(-45deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: translate(-34%, -20%) rotateZ(-30deg);
  }

  to {
    -webkit-transform: translate(0%, 0) rotateZ(0deg);
  }
}

@keyframes fallDownRight {
  from {
    transform: translate(-50%, -200%) rotateZ(-45deg);
    opacity: 0;
  }

  40% {
    transform: translate(-50%, -30%) rotateZ(-45deg);
    opacity: 1;
  }

  80% {
    transform: translate(-34%, -20%) rotateZ(-30deg);
  }

  to {
    transform: translate(0%, 0) rotateZ(0deg);
  }
}

.fallDownRight {
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-name: fallDownRight;
  animation-name: fallDownRight;
}

@-webkit-keyframes fallDownLeft {
  from {
    -webkit-transform: translate(50%, -200%) rotateZ(45deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: translate(50%, -30%) rotateZ(45deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: translate(34%, -20%) rotateZ(30deg);
  }

  to {
    -webkit-transform: translate(0%, 0) rotateZ(0deg);
  }
}

@keyframes fallDownLeft {
  from {
    transform: translate(50%, -200%) rotateZ(45deg);
    opacity: 0;
  }

  40% {
    transform: translate(50%, -30%) rotateZ(45deg);
    opacity: 1;
  }

  80% {
    transform: translate(34%, -20%) rotateZ(30deg);
  }

  to {
    transform: translate(0%, 0) rotateZ(0deg);
  }
}

.fallDownLeft {
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-name: fallDownLeft;
  animation-name: fallDownLeft;
}