@keyframes hopOut {
  from, 20%, 50%, 80% {
    transform: translateY(0%);
  }

  10% {
    transform: translateY(-25%);
  }

  35% {
    transform: translateY(-50%);
  }

  65% {
    transform: translateY(-90%);
  }

  90% {
    opacity: 1;
  }

  to {
    transform: translateY(-200%);
    opacity: 0;
  }
}

@-webkit-keyframes hopOut {
  from, 20%, 50%, 80% {
    -webkit-transform: translateY(0%);
  }

  10% {
    -webkit-transform: translateY(-25%);
  }

  35% {
    -webkit-transform: translateY(-50%);
  }

  65% {
    -webkit-transform: translateY(-90%);
  }

  90% {
    opacity: 1;
  }

  to {
    -webkit-transform: translateY(-200%);
    opacity: 0;
  }
}

.hopOut {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: hopOut;
  animation-name: hopOut;
}

@keyframes hopOutLeft {
  from {
    transform: translate3d(0, 0, 0);
    animation-timing-function: linear;
  }

  5% {
    transform: translate3d(-3%, -20%, 0);
    animation-timing-function: linear;
  }

  10% {
    transform: translate3d(-5%, 0, 0);
    animation-timing-function: linear;
  }

  15% {
    transform: translate3d(-8%, -35%, 0);
    animation-timing-function: linear;
  }

  20% {
    transform: translate3d(-15%, 0, 0);
    animation-timing-function: linear;
  }

  30% {
    transform: translate3d(-30%, -50%, 0);
    animation-timing-function: linear;
  }

  40% {
    transform: translate3d(-50%, 0, 0);
    animation-timing-function: linear;
  }

  50% {
    transform: translate3d(-75%, -75%, 0);
    animation-timing-function: linear;
  }

  60% {
    transform: translate3d(-100%, 0, 0);
    animation-timing-function: linear;
  }

  70% {
    transform: translate3d(-125%, -150%, 0);
    animation-timing-function: linear;
  }

  80% {
    transform: translate3d(-140%, 0, 0);
    animation-timing-function: ease-out;
    opacity: 1;
  }

  to {
    transform: translate3d(-150%, -200%, 0);
    animation-timing-function: ease-out;
    opacity: 0;
  }
}

@-webkit-keyframes hopOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    animation-timing-function: linear;
  }

  5% {
    -webkit-transform: translate3d(-3%, -20%, 0);
    animation-timing-function: linear;
  }

  10% {
    -webkit-transform: translate3d(-5%, 0, 0);
    animation-timing-function: linear;
  }

  15% {
    -webkit-transform: translate3d(-8%, -35%, 0);
    animation-timing-function: linear;
  }

  20% {
    -webkit-transform: translate3d(-15%, 0, 0);
    animation-timing-function: linear;
  }

  30% {
    -webkit-transform: translate3d(-30%, -50%, 0);
    animation-timing-function: linear;
  }

  40% {
    -webkit-transform: translate3d(-50%, 0, 0);
    animation-timing-function: linear;
  }

  50% {
    -webkit-transform: translate3d(-75%, -75%, 0);
    animation-timing-function: linear;
  }

  60% {
    -webkit-transform: translate3d(-100%, 0, 0);
    animation-timing-function: linear;
  }

  70% {
    -webkit-transform: translate3d(-125%, -150%, 0);
    animation-timing-function: linear;
  }

  80% {
    -webkit-transform: translate3d(-140%, 0, 0);
    animation-timing-function: ease-out;
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(-150%, -200%, 0);
    animation-timing-function: ease-out;
    opacity: 0;
  }
}

.hopOutLeft {
  -webkit-animation-name: hopOutLeft;
  animation-name: hopOutLeft;
}

@keyframes hopOutRight {
  from {
    transform: translate3d(0, 0, 0);
    animation-timing-function: linear;
  }

  5% {
    transform: translate3d(3%, -20%, 0);
    animation-timing-function: linear;
  }

  10% {
    transform: translate3d(5%, 0, 0);
    animation-timing-function: linear;
  }

  15% {
    transform: translate3d(8%, -35%, 0);
    animation-timing-function: linear;
  }

  20% {
    transform: translate3d(15%, 0, 0);
    animation-timing-function: linear;
  }

  30% {
    transform: translate3d(30%, -50%, 0);
    animation-timing-function: linear;
  }

  40% {
    transform: translate3d(50%, 0, 0);
    animation-timing-function: linear;
  }

  50% {
    transform: translate3d(75%, -75%, 0);
    animation-timing-function: linear;
  }

  60% {
    transform: translate3d(100%, 0, 0);
    animation-timing-function: linear;
  }

  70% {
    transform: translate3d(125%, -150%, 0);
    animation-timing-function: linear;
  }

  80% {
    transform: translate3d(140%, 0, 0);
    animation-timing-function: ease-out;
    opacity: 1;
  }

  to {
    transform: translate3d(150%, -200%, 0);
    animation-timing-function: ease-out;
    opacity: 0;
  }
}

@-webkit-keyframes hopOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    animation-timing-function: linear;
  }

  5% {
    -webkit-transform: translate3d(3%, -20%, 0);
    animation-timing-function: linear;
  }

  10% {
    -webkit-transform: translate3d(5%, 0, 0);
    animation-timing-function: linear;
  }

  15% {
    -webkit-transform: translate3d(8%, -35%, 0);
    animation-timing-function: linear;
  }

  20% {
    -webkit-transform: translate3d(15%, 0, 0);
    animation-timing-function: linear;
  }

  30% {
    -webkit-transform: translate3d(30%, -50%, 0);
    animation-timing-function: linear;
  }

  40% {
    -webkit-transform: translate3d(50%, 0, 0);
    animation-timing-function: linear;
  }

  50% {
    -webkit-transform: translate3d(75%, -75%, 0);
    animation-timing-function: linear;
  }

  60% {
    -webkit-transform: translate3d(100%, 0, 0);
    animation-timing-function: linear;
  }

  70% {
    -webkit-transform: translate3d(125%, -150%, 0);
    animation-timing-function: linear;
  }

  80% {
    -webkit-transform: translate3d(140%, 0, 0);
    animation-timing-function: ease-out;
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(150%, -200%, 0);
    animation-timing-function: ease-out;
    opacity: 0;
  }
}

.hopOutRight {
  -webkit-animation-name: hopOutRight;
  animation-name: hopOutRight;
}