@-webkit-keyframes speedInRight {
  from {
    -webkit-transform: translateX(-200%) skewX(-30deg);
    opacity: 0;
  }

  48% {
    -webkit-transform: skewX(-30deg);
  }

  62% {
    -webkit-transform: translateX(20%);
  }

  88% {
    -webkit-transform: translateX(-15%) skewX(15deg);
  }

  to {
    -webkit-transform: none;
    opacity: 1;
  }
}

@keyframes speedInRight {
  from {
    transform: translateX(-200%) skewX(-30deg);
    opacity: 0;
  }

  48% {
    transform: skewX(-30deg);
  }

  62% {
    transform: translateX(20%);
  }

  88% {
    transform: translateX(-15%) skewX(15deg);
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.speedInRight {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: speedInRight;
  animation-name: speedInRight;
}

@-webkit-keyframes speedInLeft {
  from {
    -webkit-transform: translateX(200%) skewX(30deg);
    opacity: 0;
  }

  48% {
    -webkit-transform: skewX(30deg);
  }

  62% {
    -webkit-transform: translateX(-20%);
  }

  88% {
    -webkit-transform: translateX(15%) skewX(-15deg);
  }

  to {
    -webkit-transform: none;
    opacity: 1;
  }
}

@keyframes speedInLeft {
  from {
    transform: translateX(200%) skewX(30deg);
    opacity: 0;
  }

  48% {
    transform: skewX(30deg);
  }

  62% {
    transform: translateX(-20%);
  }

  88% {
    transform: translateX(15%) skewX(-15deg);
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.speedInLeft {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: speedInLeft;
  animation-name: speedInLeft;
}