/*
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
*/

@-webkit-keyframes starWars {
  from {
    -webkit-transform: perspective(200px) translate3d(0, 150%, 100px) rotateX(45deg);
    opacity: 0;
  }

  10% {
    -webkit-transform: perspective(200px) translate3d(0, 120%, 80px) rotateX(45deg);
    opacity: 1;
  }

  90% {
    -webkit-transform: perspective(200px) translate3d(0, -120%, -80px) rotateX(30deg);
    opacity: 1;
  }

  to {
    -webkit-transform: perspective(200px) translate3d(0, -150%, -100px) rotateX(30deg);
    opacity: 0;
  }
}

@keyframes starWars {
  from {
    transform: perspective(200px) translate3d(0, 150%, 100px) rotateX(45deg);
    opacity: 0;
  }

  10% {
    transform: perspective(200px) translate3d(0, 120%, 80px) rotateX(45deg);
    opacity: 1;
  }

  90% {
    transform: perspective(200px) translate3d(0, -120%, -80px) rotateX(30deg);
    opacity: 1;
  }

  to {
    transform: perspective(200px) translate3d(0, -150%, -100px) rotateX(30deg);
    opacity: 0;
  }
}

.starWars {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: starWars;
  animation-name: starWars;
}

/*
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
*/

@-webkit-keyframes starWarsInFrontDown {
  from {
    -webkit-transform: perspective(200px) translate3d(0, 150%, 100px) rotateX(45deg);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  95% {
    -webkit-transform: perspective(200px) rotateX(45deg);
  }

  to {
    -webkit-transform: perspective(200px);
  }
}

@keyframes starWarsInFrontDown {
  from {
    transform: perspective(200px) translate3d(0, 150%, 100px) rotateX(45deg);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  95% {
    transform: perspective(200px) rotateX(45deg);
  }

  to {
    transform: perspective(200px);
  }
}

.starWarsInFrontDown {
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-name: starWarsInFrontDown;
  animation-name: starWarsInFrontDown;
}

@-webkit-keyframes starWarsInBackDown {
  from {
    -webkit-transform: perspective(800px) translate3d(0, -150%, 100px) scale3d(.5, .5, .5) rotateX(45deg);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  95% {
    -webkit-transform: perspective(800px) rotateX(45deg);
  }

  to {
    -webkit-transform: perspective(800px);
  }
}

@keyframes starWarsInBackDown {
  from {
    transform: perspective(800px) translate3d(0, -150%, 100px) scale3d(.5, .5, .5) rotateX(45deg);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  95% {
    transform: perspective(800px) rotateX(45deg);
  }

  to {
    transform: perspective(800px);
  }
}

.starWarsInBackDown {
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-name: starWarsInBackDown;
  animation-name: starWarsInBackDown;
}

@-webkit-keyframes starWarsInFrontUp {
  from {
    -webkit-transform: perspective(200px) translate3d(0, -150%, 100px) rotateX(-45deg);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  95% {
    -webkit-transform: perspective(200px) rotateX(-45deg);
  }

  to {
    -webkit-transform: perspective(200px);
  }
}

@keyframes starWarsInFrontUp {
  from {
    transform: perspective(200px) translate3d(0, -150%, 100px) rotateX(-45deg);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  95% {
    transform: perspective(200px) rotateX(-45deg);
  }

  to {
    transform: perspective(200px);
  }
}

.starWarsInFrontUp {
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-name: starWarsInFrontUp;
  animation-name: starWarsInFrontUp;
}

@-webkit-keyframes starWarsInBackUp {
  from {
    -webkit-transform: perspective(800px) translate3d(0, 150%, 100px) scale3d(.5, .5, .5) rotateX(-45deg);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  95% {
    -webkit-transform: perspective(800px) rotateX(-45deg);
  }

  to {
    -webkit-transform: perspective(800px);
  }
}

@keyframes starWarsInBackUp {
  from {
    transform: perspective(800px) translate3d(0, 150%, 100px) scale3d(.5, .5, .5) rotateX(-45deg);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  95% {
    transform: perspective(800px) rotateX(-45deg);
  }

  to {
    transform: perspective(800px);
  }
}

.starWarsInBackUp {
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-name: starWarsInBackUp;
  animation-name: starWarsInBackUp;
}