@keyframes starWars {
  from {
    transform: perspective(200px) translate3d(0, 150%, 100px) rotateX(45deg);
    opacity: 0;
  }

  10% {
    transform: perspective(200px) translate3d(0, 120%, 80px) rotateX(45deg);
    opacity: 1;
  }

  90% {
    transform: perspective(200px) translate3d(0, -120%, -80px) rotateX(30deg);
    opacity: 1;
  }

  to {
    transform: perspective(200px) translate3d(0, -150%, -100px) rotateX(30deg);
    opacity: 0;
  }
}

@-webkit-keyframes starWars {
  from {
    -webkit-transform: perspective(200px) translate3d(0, 150%, 100px) rotateX(45deg);
    opacity: 0;
  }

  10% {
    -webkit-transform: perspective(200px) translate3d(0, 120%, 80px) rotateX(45deg);
    opacity: 1;
  }

  90% {
    -webkit-transform: perspective(200px) translate3d(0, -120%, -80px) rotateX(30deg);
    opacity: 1;
  }

  to {
    -webkit-transform: perspective(200px) translate3d(0, -150%, -100px) rotateX(30deg);
    opacity: 0;
  }
}

.starWars {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: starWars;
  animation-name: starWars;
}

@keyframes starWarsFrontDown {
  from {
    transform: perspective(200px) translate3d(0, 150%, 100px) rotateX(45deg);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  95% {
    transform: perspective(200px) rotateX(45deg);
  }

  to {
    transform: perspective(200px);
  }
}

@-webkit-keyframes starWarsFrontDown {
  from {
    -webkit-transform: perspective(200px) translate3d(0, 150%, 100px) rotateX(45deg);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  95% {
    -webkit-transform: perspective(200px) rotateX(45deg);
  }

  to {
    -webkit-transform: perspective(200px);
  }
}

.starWarsFrontDown {
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-name: starWarsFrontDown;
  animation-name: starWarsFrontDown;
}

@keyframes starWarsBackDown {
  from {
    transform: perspective(800px) translate3d(0, -150%, 100px) scale3d(.5, .5, .5) rotateX(45deg);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  95% {
    transform: perspective(800px) rotateX(45deg);
  }

  to {
    transform: perspective(800px);
  }
}

@-webkit-keyframes starWarsBackDown {
  from {
    -webkit-transform: perspective(800px) translate3d(0, -150%, 100px) scale3d(.5, .5, .5) rotateX(45deg);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  95% {
    -webkit-transform: perspective(800px) rotateX(45deg);
  }

  to {
    -webkit-transform: perspective(800px);
  }
}

.starWarsBackDown {
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-name: starWarsBackDown;
  animation-name: starWarsBackDown;
}

@keyframes starWarsFrontUp {
  from {
    transform: perspective(200px) translate3d(0, -150%, 100px) rotateX(-45deg);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  95% {
    transform: perspective(200px) rotateX(-45deg);
  }

  to {
    transform: perspective(200px);
  }
}

@-webkit-keyframes starWarsFrontUp {
  from {
    -webkit-transform: perspective(200px) translate3d(0, -150%, 100px) rotateX(-45deg);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  95% {
    -webkit-transform: perspective(200px) rotateX(-45deg);
  }

  to {
    -webkit-transform: perspective(200px);
  }
}

.starWarsFrontUp {
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-name: starWarsFrontUp;
  animation-name: starWarsFrontUp;
}

@keyframes starWarsBackUp {
  from {
    transform: perspective(800px) translate3d(0, 150%, 100px) scale3d(.5, .5, .5) rotateX(-45deg);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  95% {
    transform: perspective(800px) rotateX(-45deg);
  }

  to {
    transform: perspective(800px);
  }
}

@-webkit-keyframes starWarsBackUp {
  from {
    -webkit-transform: perspective(800px) translate3d(0, 150%, 100px) scale3d(.5, .5, .5) rotateX(-45deg);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  95% {
    -webkit-transform: perspective(800px) rotateX(-45deg);
  }

  to {
    -webkit-transform: perspective(800px);
  }
}

.starWarsBackUp {
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-name: starWarsBackUp;
  animation-name: starWarsBackUp;
}